<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Pet</title>
</head>
<body>
  <h1>Cadastro de Pet</h1>
  <form action="/pet/new" method="POST" onsubmit="return validateForm()">
    <script>
      function validateForm() {
        const name = document.getElementById('name').value; // Correção do ID
        const breed = document.getElementById('breed').value;
        const age = document.getElementById('age').value;

        if (!name || !breed || !age || parseInt(age) < 0 || parseInt(age) > 100) {
          alert('Por favor, insira informações válidas. A idade deve estar entre 0 e 100.');
          return false;
        }

        return true;
      }
    </script> 
    <label for="name">Nome:</label>
    <input type="text" name="name" id="name">
    <label for="breed">Raça:</label>
    <input type="text" name="breed" id="breed">
    <label for="age">Idade:</label>
    <input type="number" name="age" id="age">
    <button type="submit">Cadastrar</button>
  </form>
</body>
</html>
